body {
  width: 100%;
  height: 100vh;
}

.caculater-container {
  width: 500px;
  height: 360px;
  border: 2px solid gray;
}

.display {
  background-color: black;
  color: white;
  height: 40px;
  width: 400px;
  line-height: 40px;
  text-align: right
}

.buttons {
  width: 400px;
  height: 360px;
  justify-content: center;
  align-items: stretch
  grid-template-rows: repeat(5, 80px);
}

.buttons > button {
  margin: 3px;
  font-size: 3px;
  width: 80px;
  height: 30px;
}