body {
  width: 100%;
  height: 100vh;
}

.caculater-container {
  width: 500px;
  height: 300px;
  border: 2px solid gray;
}

.display {
  background-color: black;
  color: white;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: right
}

.caculater-contents .buttons {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.buttons > button {
  margin: 3px;
  font-size: 3px;
  width: 23%;
  height: 30px;
}

.buttons > .long_btn {
  width: 48%;
  
}